*{margin:0; padding:0;}
li { list-style:none; }
address,em,i { font-style:normal; }
a { text-decoration: none; color:#333; }
html { overflow-x: hidden;}
body { width:100%; font-family: 'GmarketSans', serif;  }

/*공통*/
.subinner { width:100%; max-width:1500px; margin:2% auto; /*outline:1px solid red; */ }

/*design.html*/
#design { background:#fff; }
#design h2 { text-align:center; font-size:80px; padding:50px 0; font-family: 'Brygada 1918', serif; font-style:italic; }
#design h5 { display:none; font-size:25px; margin:70px 0 20px 0; }
#design h5 i { font-weight:normal; }
.box_gallery li { position:relative; border-collapse:collapse;
  /*outline:1px solid #ddd; */
  box-shadow: 1px 0 0 0 #ddd, 
  0 1px 0 0 #ddd, 
  1px 1px 0 0 #ddd,
  1px 0 0 0 #ddd inset, 
  0 1px 0 0 #ddd inset;

}
.box_gallery li:hover a span { opacity:1; }
.box_gallery li a:hover img { transform: scale(1.05);}

.box_gallery li a { display:block; margin:10px; overflow:hidden; }
.box_gallery li a img { width:100%; display:block; transition:all .3s;  }
.box_gallery li a span { opacity:0; transition: all 0.3s; display:block; position:absolute; width:100%;  height:100%; top: 50%; left: 50%; transform: translate(-50%, -50%); background:rgba(255,255,255,0.5); }
.box_gallery li a span i { position:relative; top: 50%; left: 50%; transform: translate(-50%, -50%);  display:block; font-style:normal; text-align:center; }
.box_gallery li a span i b { font-size:25px; }

/* 갤러리 썸네일들 */
.box_gallery {
  width:100%; /* width: 1200px; */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* //슬라이드 팝업창 */
.slide-overlay {
  z-index:1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.8); */
  /* background:rgba(255,255,255,0.5);
  backdrop-filter: blur(5px); */
  display: none;
}
.slide__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.slides {
  /* width: 600%;  */
  width:100%; 
  position: relative;
  left: 0;
}
.slides::after {
  content: "";
  display: block;
  clear: both;
}
.slides > li {
  float: left;
}
.slides > li > img { width:100%; }
/* 슬라이드 버튼 */
.slide-btn {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background:none;
  /* background-color: white; */
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}
.--prev {
  left: 12%;
}
.--next {
  right: 12%;
}
/* 닫기버튼 */
.close-btn {
  width:100%;
  height:100%;
  background:rgba(255,255,255,0.7);
  backdrop-filter: blur(5px);
  position: absolute;
  border:none; 
  /* padding: 1em;
  top: 2em;
  right: 15%; */
}

/* bullet */

#bullets { /*팝업슬라이드 작은 원 아이콘*/
  display:none; 
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}
#bullets > li {
  float: left;
  margin: 0 8px;
}
#bullets > li > a {
  display: block;
  text-decoration: none;
  color: transparent;
  width: 1em;
  height: 1em;
  background-color: rgb(165, 165, 165);
  border-radius: 50%;
  transition: 0.2s;
}
#bullets > li > a.on {
  background-color: tomato;
}


