* { box-sizing: border-box; margin: 0; padding: 0; }
li { list-style:none; }
address,em,i { font-style:normal; }
a { text-decoration: none; color:#333; }
html { overflow-x: hidden;}
body { position:relative; width:100%; font-family: 'Pretendard', 'GmarketSans', 'Arial', sans-serif; }

/*기존 fullpage.js 변경*/
.fp-watermark { display:none; }
/* .fp-table { display: block!important; } */

section { position:relative; color:#fff; padding:100px;  }
/*배경화면*/
.INTRO { background: linear-gradient(180deg, #00E0B3 0%, #00C9DF 100%); }
.ABOUT { background:#000; }
.MD { background:url(../img/bg_md.png); background-size:cover;}
.PROMOTION { background:url(../img/bg_pro.png); background-size:cover;}
.CAMPAIGN { background:#000; }
.MARKETING { background:url(../img/bg_m.png); background-size:cover; }
.RND { background:#000; }
.OUTRO { background: linear-gradient(180deg, #00E0B3 0%, #00C9DF 100%); }

/*공통*/
.inner { width:100%; max-width:fit-content; margin:2% auto; /*outline:1px solid red;*/ }
.flex { display:flex; }
.gra { /*그라데이션*/
  font-weight: bold;
  background:linear-gradient(90deg, #00E0B3 0%, #00C9DF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainTitle { margin-bottom:50px; }
.mainTitle h2 { font-size:90px; letter-spacing: -1px; }
.mainTitle p { font-size:30px; letter-spacing:-1px; font-weight:100; }
/*Main Title 스크롤 효과*/
.mainTitle h2, .mainTitle p {
        opacity: 0;
        transform: translateY(50px);
        transition: all 1s ease;
}
.mainTitle.show h2 {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0s;
}
 .mainTitle.show p {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.5s; /* h2 다음에 */
}


  
/* 데스크탑 스타일 (13인치 포함) */
@media (min-width: 1024px) {
  /* 데스크탑 전용 레이아웃 */
  .inner { width:1000px; }
}

/* 대형 데스크탑 (고해상도 모니터용) */
@media (min-width: 1440px) {
  /* 더 넓은 레이아웃이나 추가 스타일 */
}