*{margin:0; padding:0;}
li { list-style:none; }
address,em,i { font-style:normal; }
a { text-decoration: none; color:#333; }
html { overflow-x: hidden;}
body { width:100%; background:#fff; font-family: 'NexonMaplestory', serif;  }

#wrap { width:100%; max-width:1000px; margin:0 auto;  padding:20px 0;/*outline:1px solid red;*/ }

/*검색창*/
.searchBox { width:100%; margin:0 auto; text-align:center; }
.searchBox img { display:block; margin:0 auto; padding:20px 0 40px 0; width:40%;  }
.searchBox  label {}
.searchBox  label input { border-radius:30px; width:50%; line-height:50px; border:1px solid #aaa; font-size:18px; padding:0 30px; }

/*탭메뉴*/
.menuTab {}
.tabBox { display:flex; flex-wrap:wrap; justify-content: space-between; margin:30px 0; }
.tabBox li { width:15%; margin:0.5%; line-height:40px; border-radius:5px; text-align:center; font-size:18px; border:1px solid #ddd;  }
.tabBox li.selected { background:red; border:1px solid red; color:#fff; }

.listBox { width:100%; display:flex; flex-wrap:wrap; justify-content:flex-start; }
.listInner { width:31%; margin:1%; border:1px solid #ddd; background:#f3f3f3;  }
.listInner span {  }

/*메뉴이름*/
.menuName { display:block; font-weight:bold; font-size:20px; text-align:center; background:#1D1D1D; color:#fff; padding:10px; }

/*메뉴이미지*/
.menuImg { }
.menuImg img { width:100%; }

/*메뉴만드는법*/
.menuMake { display:block; padding:10px; background:#f3f3f3;  }
.menuMake i { display:block; font-style:normal; font-size:18px; line-height:25px; word-break: keep-all;  }
.menuMake i:before { float:left; content:""; display:block; width:5px; height:5px; border-radius:50%; background:red; margin:8px;  }
.menuMake i.deco { display:inline-block; word-break: keep-all; color:#518eff; margin-left:8px; }
.menuMake i.notice { display:inline-block; word-break: keep-all; color:#FF5151; margin-left:8px; font-size:16px;  }
.menuMake i.mix { display:inline-block; width:100%; font-weight:normal; background:#ddd; color:#787878; }

.menuMake i.notice:before, i.deco:before, i.mix:before, i.menuHr:before { display:none; }
.menuHr { color:#aaa; border-style:dashed; display:block; margin:5px 0;  }

@media screen and (max-width: 768px) {
    .listInner { width:47%; }
    .menuName { font-size:16px; }
    .menuMake i { font-size:13px; }
}

/*폰트*/
@font-face {
    font-family: 'NexonMaplestory';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonMaplestory/NexonMaplestoryLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonMaplestory/NexonMaplestoryLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NexonMaplestory/NexonMaplestoryLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NexonMaplestory/NexonMaplestoryLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NexonMaplestory/NexonMaplestoryLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'NexonMaplestory';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonMaplestory/NexonMaplestoryBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonMaplestory/NexonMaplestoryBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NexonMaplestory/NexonMaplestoryBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NexonMaplestory/NexonMaplestoryBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NexonMaplestory/NexonMaplestoryBold.ttf') format("truetype");
    font-display: swap;
}
